.cartActionWrapper {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}

/* Increment Component */
.cartIncrementWrapper {
  background: var(--light-gray-blue);
  display: flex;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

.incBtn {
  padding: 25px 18px;
}

.incBtn:hover {
  cursor: pointer;
  opacity: 80%;
}

.incBtn img {
  width: 18px;
}

.cartQt {
  padding: 25px 35px;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--very-dark-blue);
}

/* Add to Cart */
.addToCartBtn {
  background: var(--orange) !important;
  border-radius: 12px;
  flex: 1;
  font-weight: 800;
  font-size: 1.4em;
  color: var(--white);
}

.addToCartBtn:hover {
  cursor: pointer;
  opacity: 80%;
}

.cartIcon {
  display: inline-block;
  width: 1.5rem;
  margin-right: 12px;
}

.cartIcon * {
  width: 100%;
  height: 100%;
}

@media (max-width: 375px) {
  .cartActionWrapper {
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
  }

  .cartIncrementWrapper {
    justify-content: space-between;
  }

  .cartIncrementWrapper * {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .incBtn img {
    width: 15px;
  }

  .cartQt {
    font-size: 1.2rem;
  }

  .addToCartBtn {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addToCartBtn span {
    font-size: 1rem;
  }

  .cartIcon {
    width: 1.4rem;
  }
}
