.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px;
}

.navWrapper > * {
  display: flex;
}

.navLft {
  gap: 50px;
  flex: 2;
}

.logo {
  width: 250px;
}

/* Full nav menu */
.menu {
  align-self: center;
}

.menu > ul {
  display: flex;
  gap: 30px;
}

.menu > ul > li > a {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
}

/* Mobile nav menu */
.mobMenu {
  display: none;
}

.navRht {
  justify-content: flex-end;
  gap: 60px;
  flex: 1;
}

.cart {
  max-width: 40px;
  width: 100%;
  align-self: center;
}

.logo img,
.cart img {
  width: 100%;
}

.profile {
  max-width: 60px;
  width: 100%;
}

.profile img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1150px) {
  .menu {
    display: none;
  }

  .logo {
    order: 2;
  }

  .mobMenu {
    display: flex;
    width: 28px;
    align-items: center;
  }
}

@media (max-width: 1064px) {
  .navLft {
    gap: 40px;
  }

  .cart {
    max-width: 35px;
  }

  .menuPanel {
    font-size: 2rem;
    font-weight: 800;
    color: var(--black);
  }

  .menuPanel .mob {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 640px) {
  .navWrapper {
    padding: 20px 35px;
  }

  .navLft {
    gap: 25px;
  }

  .logo {
    width: 150px;
  }

  .mobMenu {
    width: 20px;
  }

  .navRht {
    gap: 30px;
  }

  .cart {
    width: 25px;
  }

  .profile {
    width: 40px;
  }
}

@media (max-width: 375px) {
  .navWrapper {
    padding: 15px 20px;
  }

  .navLft,
  .navRht {
    gap: 15px;
  }

  .logo {
    width: 120px;
  }

  .mobMenu {
    width: 16px;
  }

  .cart {
    width: 20px;
  }

  .profile {
    width: 30px;
  }
}
